/* AboutUs.css */
.about-us-section{
  font-family: "Work Sans", sans-serif;
  
}


.about-us-main {
  margin-top: 5rem;
  position: relative;
  z-index: 100;
  /* overflow-x: hidden;
  overflow-y: visible; */
}

.about-us-content-wrapper{
  padding-left: 5rem;
  padding-right: 30rem;
}

.about-us-content {
  margin-bottom: 2rem;
  color: white;
}


.about-us-main-heading  {
  text-align: center;
  font-size: 5.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}


.about-us-desc {
  font-family: "Zen Kurenaido", sans-serif;
  font-size: 2rem;
  position: relative;
  z-index: 100;
 
  

}

.about-us-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-bottom: 4rem;
  position: relative;
  z-index: 100;

}

.stat-item {
  text-align: left;
  text-transform: lowercase;
  font-size: 2.8rem;
  font-weight:700;
}

.stat-number{
  font-size: 5rem;
}

.left-about-us-design{
  background-image: url(../img/aboutus/left-about-us.svg);
  width: 60rem;
  height: 60rem;
  background-size: contain; 
  background-position: center center  ; 
  background-repeat: no-repeat;
  /* display: inline-block; */
  position: absolute;
  left: -31rem;
  bottom: -6rem;
  z-index: 2;
  opacity: 0.3;
  
  
}

.right-about-us-design{
  
  position: absolute;

  /* border-color: green;
  border-width: 10px; */
  width: 25rem;
  height: 25rem;  

  z-index: 2;
  top: 0rem;
  right: 7rem;
  /* overflow: hidden; */
  z-index: 500;
   /* overflow-x: hidden */
   
  
}


.main-circle{
  background-image: url(../img/aboutus/main-circle.svg);
  width: 40rem;
  height: 40rem;
  background-size: contain; 
  background-position: center center  ; 
  background-repeat: no-repeat;
  position: absolute;
  /* border-color: blue; */
  left: 17rem;
  top: 1.5rem;
  z-index: 15;

}

.bg-looper{
  background-image: url(../img/aboutus/bg-looper.svg);
  width: 75rem;
  height: 75rem;
  background-size: contain; 
  background-position: center center  ; 
  background-repeat: no-repeat;
  position: absolute;
  /* border-color: blue; */
  top: -15rem;
  left: -8rem;
  opacity: .7;
}

.bg-circle{
  background-image: url(../img/aboutus/bg-circle.svg);
  width: 40rem;
  height: 40rem;
  background-size: contain; 
  background-position: center center  ; 
  background-repeat: no-repeat;
  position: absolute;
  /* border-color: blue; */
  left: 11rem;
  top: 1rem;

}

.bg-glow{
  background-image: url(../img/aboutus/bg-glow.svg);
  width: 70rem;
  height: 70rem;
  background-size: contain; 
  background-position: center center  ; 
  background-repeat: no-repeat;
  position: absolute;
  /* border-color: blue; */
  bottom: -35rem;
  left: -13rem;
  opacity: .4;
  
}


