/* AboutUs.css */
.about-us-section{
  font-family: "Work Sans", sans-serif;
  
  
  
}


.about-us-main {
  margin-top: 5rem;
  
}
.about-us-content-wrapper{
  padding-left: 5rem;
  padding-right: 30rem;
}

.about-us-content {
  margin-bottom: 2rem;
  color: white;
}


.about-us-main-heading  {
  text-align: center;
  font-size: 5.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.about-us-desc {
  font-family: "Zen Kurenaido", sans-serif;
  font-size: 2rem;

}

.about-us-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-bottom: 4rem;
}

.stat-item {
  text-align: left;
  text-transform: lowercase;
  font-size: 2.8rem;
  font-weight:700;
}

.stat-number{
  font-size: 5rem;
}


