.header {
  background-color: black;
  padding: 2rem;
  text-align: center;
}
  
  .header-content {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .header h1 {
    margin-bottom: 0.5rem;
  }
  
  .header p {
    margin-top: 0;
  }
  
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black
  }
  
  .navigation a:hover {
    background-color: #f2f2f2;
  }
