.hero {
    background-color: black;
    color: white;
    padding: 50px 0;
    text-align: center;
  }
  
  .hero-heading {
    margin-bottom: 30px;
  }
  
  .hero-heading h1 {
    font-size: 48px;
  }
  
  .hero-heading h1 span {
    color: white;
  }
  
  .hero-heading h1 span.yellow {
    color: yellow;
  }
  
  .hero-heading h2 {
    font-size: 24px;
    color: lightyellow;
    margin-top: 10px;
  }
  
  .register-button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .register-button:hover {
    background-color: lightgray;
  }
  
  .hero p {
    font-size: 16px;
  }
  