

.hero {
  font-family: 'Zen Dots', sans-serif;
  color: white;
  padding: 1.5rem 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-heading {
  margin-bottom: 9rem;
  margin-left: 10rem;
  text-align: center;
}

.hero-heading h1 {
  font-size: 4.5rem;
  line-height: 1;
  margin-bottom: 1rem;
  
}

.hero-heading h1:hover {
  animation: glow 1s infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #FFAB07;
  }
  to {
    text-shadow: 0 0 20px #FFAB07;
  }
}

.yellow {
  color: #FFAB07;
}

.hero-heading h2 {
  
  font-size: 2.5rem;
  color: #edd189;
  
}

.register-button {
  background-color: rgb(255, 255, 255);
  font-family: "Aldrich", sans-serif;
  color: black;
  border: none;
  padding: 1.3rem 1.3rem;
  font-size: 1.4rem;
  border-radius: .5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.register-button:hover {
  background-color: lightyellow;
}

.hero-subheading {
  color: white;
  margin-left:8.4rem;
  text-align: center;
  margin-bottom: 4rem;
}
.event-date{
  margin-top: 2rem;
  font-size: 3rem;
  margin-bottom: 1rem;
}

.event-venue {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2rem;
  color: rgb(194, 194, 194);
}


