/* Navbar.css */
@import url('https://fonts.googleapis.com/css2?family=Zen+Dots&display=swap');

.navbar {
    font-family: 'Zen Dots', sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px; /* Adjust height as needed */
    background-color: black; /* Adjust background color as needed */
    z-index: 1000; /* Ensure it's above other content */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px; /* Add padding as needed */
}

.navbar button {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px; /* Add padding as needed */
}

.navbar button:hover {
    text-decoration: underline;
}
