/* Navbar.css */
.navbar {
    position: fixed;
    height: 90px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .3s ease-in;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}

.nav-menu {
    display: flex;
}

.nav-menu button {
    margin-right: 20px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.nav-menu button:hover {
    text-decoration: underline;
}

.hamburger {
    display: none;
}
